<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <button class="button button-royal icon ion-social-github" ng-click="login2('github')"></button>
    <button class="button button-royal icon ion-social-facebook" ng-click="login2('facebook')"></button>
    <button class="button button-royal icon ion-social-google" ng-click="login2('google')"></button>
  </ion-content>
</ion-modal-view>
