<ion-view view-title="Login">
  <ion-content style="background: url(http://www.cinemablend.com/images/news/38103/_1371483350.gif) center; background-size: cover;">
    <div class="hero no-header flat">
      <div class="content">
        <i class="ion-android-alarm-clock icon hero-icon assertive-900-border"></i>
        <h1>Stockswagen</h1>
      </div>
    </div>
    <div class="padding">
      <button class="button button-block icon-left button-border ion-social-facebook text-center button-positive-900"
              ng-click="login('facebook')">Facebook</button>
      <button class="button button-block icon-left button-border ion-social-google text-center button-assertive-900"
              ng-click="login('google')">Google+</button>
    </div>
  </ion-content>
</ion-view>
