<ion-view view-title="Login | Stockswagen">
  <ion-content style="background: url(img/login.gif) center; background-size: cover;">
    <div class="hero no-header flat">
      <div class="content">
        <i class="ion-cash icon hero-icon dark-bg"></i>
        <h1>Stockswagen</h1>
      </div>
    </div>
    <div class="padding">
      <button class="button button-block icon-left button-border ion-social-facebook text-center button-positive-900"
              ng-click="login('facebook')">Facebook</button>
      <button class="button button-block icon-left button-border ion-social-google text-center button-assertive-900"
              ng-click="login('google')">Google+</button>
      <button class="button button-block icon-left button-border ion-social-github text-center button-dark"
              ng-click="login('github')">Github</button>
      <button class="button button-block icon-left button-border ion-bug text-center button-balanced"
              ng-click="loginAnon()">Demo</button>
    </div>
  </ion-content>
</ion-view>
