<ion-view view-title="Portfolio">
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="list">
      <div class="item">
        <h2>Following {{portfolio.length}} stocks</h2>
      </div>
      <div class="item item-divider"></div>
      <div class="item ink" ng-repeat="stock in portfolio">
        <div class="row">
          <div class="col">
            <h2>
              {{stock.tick}}
            </h2>
            <p>{{stock.name}}</p>
          </div>
          <div class="col">
            <h2>40</h2>
          </div>
          <div class="col">
            <button class="button button-flat button-balanced ink">+1.25%</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
