<ion-view view-title="Portfolio | Stockswagen">
  <ion-content ng-class="{expanded:isExpanded}">
    <div class="list">
      <div class="item">
        <h2>Following {{portfolio.length}} stocks</h2>
      </div>
      <div class="item item-divider"></div>
      <div class="item ink" ng-repeat="stock in portfolio" ui-sref="app.portfolioItem({tick: stock.tick})">
        <div class="row">
          <div class="col">
            <h2>
              {{stock.tick}}
            </h2>
            <p>{{stock.name}}</p>
          </div>
          <div class="col text-right">
            <h2>{{quotes[stock.tick].lastTradePriceOnly | currency}}</h2>
            <small>{{ quotes[stock.tick].lastTradeTime }}</small>
            <p class="portfolio" ng-class="{'green': quotes[stock.tick].changeInPercent >= 0, 'red': quotes[stock.tick].changeInPercent < 0}">
              {{presentNumber((quotes[stock.tick].changeAndPercentChange * 100).toFixed(2))}} {{(quotes[stock.tick].changeInPercent * 100).toFixed(2)}}%
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
