<ion-view view-title="{{quote.symbol}}">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <h1 style="color: black;">{{quote.lastTradePriceOnly | currency}}</h1>
            <span> {{quote.lastTradeDate | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}} </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col">
          Open
        </div>
        <div class="col">
          {{quote.open | currency}}
        </div>
        <div class="col">
          MktCap
        </div>
        <div class="col">
          {{quote.marketCapitalization}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          High
        </div>
        <div class="col">
          {{quote.daysHigh | currency}}
        </div>
        <div class="col">
          52Wk High
        </div>
        <div class="col">
          {{quote['52WeekHigh'] | currency}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Low
        </div>
        <div class="col">
          {{quote.daysLow | currency}}
        </div>
        <div class="col">
          52Wk Low
        </div>
        <div class="col">
          {{quote['52WeekLow'] | currency}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Vol
        </div>
        <div class="col">
          {{quote.volume}}
        </div>
        <div class="col">
          Avg Vol
        </div>
        <div class="col">
          {{quote.averageDailyVolume}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          EPS
        </div>
        <div class="col">
          {{quote.epsEstimateCurrentYear}}
        </div>
        <div class="col">
          P/E
        </div>
        <div class="col">
          {{quote.peRatio}}
        </div>
      </div>
    </div>

    <highchart id="chart1" config="chartConfig"></highchart>
  </ion-content>
</ion-view>
